# Ignore Python virtual environments
venv/

# Bytecode cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/
